@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import "color.scss";


* {
  box-sizing: border-box;
  font-family: "Lato", "sans-serif";
  text-decoration: none;
}

.connection {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  padding: 1em;
  margin: -5em 0 0 0;
  width: 99%;
}

.mail {
  padding-right: 20px;
}

.seconnecter {
  padding-left: 20px;



}

.seconnecter button {
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  border: inherit;
  background-color: $gris;
  color: $rose;



}

/*bouton inscription*/

.inscription{
  width:auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inscription a {
  width: max-content;
  color: $orange;
  font-size: 1.2em;
  }




/*footer*/

.footer {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  background-color: #FFD7D7;
  margin-top: 3em;
}

.footerdescription {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;


}

.footerdescription span {
  color: black;
}

h4 img {
  width: 10em;
  height: 10em;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* MEDIA QUERY *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
@media all and (max-width: 1350px) {
  .logo{
 margin-top: 4em;
  }
}


@media all and (max-width: 1024px) {
  .logo{
 margin: 150px 0 100px 0;
  }
  .footer{
    margin-top:10em;
    height: 100px;
  }
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*Version mobile*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
@media all and (max-width: 768px) {
 
  .connection{
    width: 95%;
  }
.mail{
  width: 30%;
}
.motpasse{
  width: 30%;  
}
.seconnecter{
  width: 30%;
}

.inscription{
  display: flex;
  justify-content: center;
  margin: 0 0 0 10em;

}


}

@media all and (max-width: 585px) {
 .connection{
  width: 100%;
  font-size: 1em;
 }

}


