.logo {
    display: flex;
    width: 90%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .logo img {
    height: 70%;
    width: 60%;
    margin: -20em 0 -10em 0;
  }
